{
  "extends": "maxdome/node",
  "rules": {
    "strict": [2, "safe"],
    "class-methods-use-this": 0,
    "no-restricted-syntax": [0, "ForOfStatement"]
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "script"
  }
}
